/bl/
/.deps/
/output/
/build/
/sdcard-package/
/toolchain/
/cores/build/
/cores/output/
/frontend/output/
/js2300/build/
/js2300/output/
/config.mk
/.ccache/
/asdpack
/bisrv*.asd
/fastboot*.asd
/UniFrog-*-sdcard.zip
/Unifrog-sdcard-*.zip
*.o
*.d
*.out
*.map
*.bin
*.dtb
*.dts.tmp
*.pre.tmp
